doctype
html
  head
    script(src="/js/main.js")
  body
    x-picture
      source(srcset="https://dummyimage.com/600x400/eee/fff?text=1" media="(min-width: 700px)")
      source(srcset="https://dummyimage.com/600x400/ccc/fff?text=2" media="(min-width: 768px)")
      img(src="https://dummyimage.com/600x400/000/fff?text=3" alt="dummy text")