doctype
html
  head
    script(src="./js/index.js")
  body
    x-picture
      source(srcset="https://dummyimage.com/600x400/cccccc/333333?text=min-width-768" media="(min-width: 768px)")
      source(srcset="https://dummyimage.com/600x400/cccccc/333333?text=min-width-700" media="(min-width: 700px)")
      img(src="https://dummyimage.com/600x400/000/cccccc/333333?text=default" alt="dummy text")